.heading {
  padding: 57px 0 75px;
  &__row {
    display: flex;
    column-gap: 20px;
  }
  &__card {
    width: calc(25% - 15px);
    &-title {
      margin-top: 35px;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 30px;
      text-transform: uppercase;
      color: #313131;
    }
    &-descr {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.74);
      margin: 11px 0 7px;
    }
    &-link {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #CF404D;
    }
  }
}