.lightbox {
  padding: 57px 0 75px;
  &__row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__card {
    width: calc(25% - 15px);
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 576px) {

  .lightbox__row {
    row-gap: 20px;
    flex-wrap: wrap;
  }
  .lightbox__card {
    width: calc(50% - 10px);
    text-align: center;
  }


}