.some {
  padding: 44px 0;
  background-color: #CF404D;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 36px;
    color: #FFFFFF;
  }
  &__btn {
    height: 47px;
    padding: 0 22px;
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }
}


@media (max-width: 425px) {
  .some__title {
    font-size: 20px;
    line-height: 31px;
  }

}

@media (max-width: 375px) {
  .some__title {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .some__title {
    font-size: 15px;
  }
  .some__btn {
    padding:  0 11px;
  }
}